<div class="container">
    <div class="row">
<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
<!-- <input [(ngModel)]="query"> -->
<h3 *ngIf="!peopleList.length">People not found at end ponint!</h3>
<h3 *ngIf="ds.endPointError" class="text-danger customcss">Issue: Unable to edit information due to endpoint issue.</h3>
<div *ngFor="let item of peopleList;let i=index;">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + item.avatar + ')', 'background-size': 'auto 110%' }"></div>
              <mat-card-title><a [routerLink]="['../edit']" (click)="OnClick(item)">{{item.name}}</a></mat-card-title>
              <mat-card-subtitle>{{item.email}}</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content class="customcss">
              <div class="customcss">
                  Age: {{item.dob | GetAge}}
              </div>
              <div class="customcss">
                  Country: {{item.country}}
              </div>
              <br>
            </mat-card-content>
           
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
          </mat-card>
    
</div>
</div>
</div>
</div>